# 设置 npm 注册表为 npmmirror
registry = "https://registry.npmmirror.com"
# 强制检查 engines 字段中指定的版本要求，即强制使用指定的 Node.js 版本
engine-strict=true
# 自动安装 peerDependencies（对等依赖） 中的依赖
auto-install-peers=true
# 不严格检查 peerDependencies 的版本要求
strict-peer-dependencies=false
# 允许将依赖项提升到顶层，即将依赖提升到根目录的 node_modules，避免重复安装
shamefully-hoist=true 
