registry = "https://registry.npmmirror.com"
# 强制检查 engines 字段中指定的版本要求
engine-strict=true
# 自动安装 peerDependencies 中的依赖
auto-install-peers=true
# 不严格检查 peerDependencies 的版本要求
strict-peer-dependencies=false
# 将依赖提升到根目录的 node_modules，以解决幽灵依赖问题
shamefully-hoist=true 
