:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;
}

.demo-button {
  display: flex;
  gap: 12px;
  margin: 1em 0;
}

.demo {
  padding: 20px;
  margin: 16px 0;
  border: 1px solid var(--vp-c-divider);
  border-radius: 8px;
}

.demo-source {
  margin-bottom: 16px;
}
